body{
    background-image: url("../mtsinaiccf2021bg.jpg");
    /*background-size: cover;*/
    background-repeat: repeat;
    background-position: center top;
    font-family: 'Signika', sans-serif;
}

.videojumb{
    background-color:transparent;
    padding: 0 0rem 4rem 0rem;
}

.ms_title{
    color:#f5d50c;
    text-transform: uppercase;
    font-weight: bold;
}

.ms_title_pink{
    color: #f9136a;
    text-transform: uppercase;
    font-weight: bold;
}

.streaming{
    background-color:#ec1c24;
    font-size:1.3rem;
}
.staticstarsflip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.caption-section{
    background-color: #4ba6dd;
}

.caption-section .ms_title{
    color:#ed1d24;
}
.founded-section{
    background-color:#f5d40b;
    color:#21409a;
    font-size:1.3rem;
}
.founded-section p span{
    color:#4ba5dc;
}
#sponsor-sect{
    position:relative;
    overflow:hidden;
    background-color:#21409a;
}

#sponsor-sect h2.ms_title{
    color:#ec1c24;
    font-size:3.5rem;
}

#sponsor-sect .ms_title{
    font-size:1.5rem;
}

#sponsor-sect ul li{
    font-size:1.5rem;
}

#socialshare{
    color:#ec1c24;
    text-transform: uppercase;
}

#socialshare span{
    color:#4ba5dc;
}

#swirl1, #stars, #swirl2, #stars2{
    position:absolute;
}

#stars{
    top:1000px;
}

#swirl2{
    top:2000px;
}

#stars2{
    top:3000px;
}