html {
  scroll-behavior: smooth;
}

.navbar-brand{
  font-size:1rem;
}

.navbar{
  background-image:linear-gradient(180deg,rgba(0, 0, 0,8),rgba(0, 0, 0,.7));
  /*text-shadow: 2px 2px #363636;*/
}
.navbar-dark .navbar-nav .nav-link{
  color:#ffffff;
}

.navbar-brand span{
  font-weight:bold;
  text-transform:uppercase;
}

.logo-text{
  font-size: .6rem;
}

.vidheader {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .vidheader video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .vidheader .container {
    position: relative;
    z-index: 2;
  }
  
  .vidheader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

.card-img-overlay{
  background-image:linear-gradient(360deg,rgb(87, 0, 87),rgba(27, 96, 245, 0.5),rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0));
}

.card-img-overlay:hover{
  background-image:none;
}

.card-img-overlay a{
  color:#ffffff;
  text-decoration:none;
  margin-bottom:0px;
  transition-duration: 1s;
}

.card-img-overlay a:hover{
  margin-bottom:10px;
}

.card-img-overlay h3{
  font-size:2rem;
  line-height:1.7rem;
}

#recipients{
  scroll-margin-top:4.75rem;
}

#ceremony{
  scroll-margin-top:4rem;
  color:#ffffff;
  background: rgb(54,60,117);
  background: linear-gradient(90deg, rgba(54,60,117,1) 0%, rgb(209, 46, 137) 51%, rgba(24,175,238,1) 100%); 
}

.prevnext{
  text-align:center;
}

.prevnext a{
  text-decoration:none;
  text-transform:uppercase;
  font-weight:600;
}


.previous{
  background-color:#18afee;
  border-right:2px solid #0a3e55;
  transition-duration:.5s;
}

.previous:hover{
  background-color:#d12e89;
  border-right:2px solid #0a3e55;
}

.next{
  background-color:#18afee;
  transition-duration:.5s;
}

.next:hover{
  background-color:#d12e89;
}


.footer{
  background-color:#1C116A;
  color:#ffffff;
}



  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element 
  
  @media (pointer: coarse) and (hover: none) {
    .vidheader {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    .vidheader video {
      display: none;
    }
  }

*/



  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }


  @media (min-width: 436px) {
    .logo-text{
      font-size:.9rem;
    }
  } 
  
    /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .logo-text{
      font-size:1.25rem;
    }
  }
  
    /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
  }
  
    /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  
  }
  
    /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .navbar {
        background-image:linear-gradient(180deg,rgba(0, 0, 0, 1),rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
    }
  }
    /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }